.main-wiki {
  display: grid;
  grid-template-columns: 16em 1fr 16em;
}

.link-tree {
  padding: 1em;
  overflow-y: auto;

  &__heading {
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, transparent, var(--c-primary), transparent) 1;

    &-text {
      display: block;
      text-decoration: unset;
      text-align: center;
    }
  }

  &__nav {
    &-list {
      margin: 0;
      padding-left: 0.5em;
      list-style: none;

      ul {
        border-left: 1px solid lightgray;
      }
    }
    // &-list-item {
    // }
    &-list-text {
      display: block;
      text-decoration: unset;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &.current {
        text-decoration: underline;
      }
    }
  }
}

