# build output
dist/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# binary blobs
public/**/*.jpg
public/**/*.png
public/**/*.webp
src/**/*.jpg
src/**/*.png
src/**/*.webp

# Kanji generator
tools/kklc/kklc.csv
tools/kklc/target/
public/static/kanji/

# Rust
target/
