*

# Whitelist
!.gitignore
!LICENSE
!Makefile

!Cargo.toml
!Cargo.lock

!src/
!src/**/
!src/**/*.rs
!src/**/*.svg

!queries/
!queries/**/
!queries/**/*.scm

!styles/
!styles/**/
!styles/**/*.scss
!styles/**/*.css

!content/
!content/**/
!content/**/*.md
!content/**/*.bib
!content/**/*.lhs
!content/**/*.yaml
content/.obsidian/
content/.stfolder/

!js/
!js/**/
!js/**/*.ts
!js/**/*.js
!js/**/*.svelte
!js/**/*.json
!js/**/*.lock
js/**/node_modules/

!tools/
!tools/**/
!tools/**/*.rs
tools/**/target/
