# build output
dist/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# binary blobs
public/**/*.wasm
public/**/*.jpg
public/**/*.png
public/**/*.webp
content/**/*.jpg
content/**/*.png
content/**/*.webp

# Kanji generator
tools/kklc/kklc.csv
tools/kklc/target/
public/static/kanji/

# Rust
target/

# JavaScript
js/**/node_modules/

# Hashed file cache
.cache
