---
interface Props {
  albums: Array<{
    title: string;
    cover: string;
    url: string;
  }>
}

const { albums } = Astro.props;
---
<section class="c-album-grid">
  {albums.map(album => 
    <a class="c-album-grid__item" href={album.url}>
      <img class="c-album-grid__image" src={album.cover} alt=""/>
      <div class="c-album-grid__title">{album.title}</div>
    </a>
  )}
</section>
