---
interface Props {
  image: string;
  title: string;
  small: string;
}

const { image, title, small } = Astro.props;
---

<section class="c-song">
  <a href={image}><img src={image} /></a>
  <div class="c-song__title">
    <h2 class="c-song__heading">{title}</h2>
    <span class="c-song__cat">{small}</span>
  </div>

  <slot />
</section>
