.footer {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  gap: 2rem;

  .kaeru,
  .neko {
    height: 4rem;
    width: auto;
    display: block;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
  }

  // TODO: change colors
  font-size: var(--fs-sm);
  background-color: var(--c-footer-bg, #f4f4f0);
  color: var(--c-footer-text);

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
  }

  .left {
    white-space: nowrap;
    font-weight: 500;
  }

  .right {
    // Push this element and everything following it to the right.
    margin-left: auto;

    font-family: monospace;
    font-size: 0.7rem;
    opacity: 0.7;
    white-space: nowrap;

    .hash {
      font-weight: bold;
    }
  }

  .cc {
    display: block;
    opacity: 0.8;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
    }

    img {
      height: 32px;
      width: auto;
      display: block;
    }
  }
}
