@use "../consts" as consts;

%burger-line {
  height: 0.15em;
  width: 100%;
  background-color: var(--c-white);
}

%burger-wing {
  content: "";
  position: absolute;
  transition: transform 100ms ease-in-out;
}

#p-nav-toggle:checked {
  ~ .p-nav__bar .p-nav__burger-icon {
    background-color: transparent;

    &::before {
      transform: translateY(0.8rem) rotateZ(45deg);
    }

    &::after {
      transform: translateY(-0.8rem) rotateZ(-45deg);
    }
  }

  ~ menu {
    display: block;

    @media (min-width: consts.$bp-md) {
      display: inline-flex;
    }
  }
}

.p-nav {
  background: var(--momiji);
  background-color: var(--c-primary);

  @media (min-width: consts.$bp-md) {
    display: flex;
    gap: 0.5em;
  }

  &__bar {
    display: flex;
    height: 4em;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    margin-right: auto;
    padding: 0.5em;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

    &-icon {
      transition: transform 0.5s ease-in-out;

      &:hover {
        transform: scale(1) rotate(360deg);
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
    }

    &-main {
      margin-bottom: -0.15em;

      svg {
        max-height: 2em;
        width: auto;
      }
    }

    &-sub {
      align-self: flex-start;
      max-width: max-content;
      overflow: hidden;
      white-space: nowrap;
      font-size: 0.675rem;
      line-height: 1.2em;
    }
  }

  &__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    padding: 1em;
    cursor: pointer;

    @media (min-width: consts.$bp-md) {
      display: none;
    }

    &-icon {
      position: relative;
      transition: background-color 100ms linear;
      @extend %burger-line;

      &::before {
        top: -0.8rem;
        @extend %burger-line;
        @extend %burger-wing;
      }

      &::after {
        top: 0.8rem;
        @extend %burger-line;
        @extend %burger-wing;
      }
    }
  }
}

#navigation menu {
  --stamp: oklch(0.8175 0.0565 277 / 0.2);
  --stamp-h: oklch(0.8175 0.0565 277 / 0.5);

  display: none;
  list-style-type: none;

  @media (min-width: consts.$bp-md) {
    display: flex;
  }

  li {
    display: block;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 3rem;
    overflow: hidden;
    text-decoration: none;

    @media (min-width: consts.$bp-md) {
      width: 5rem;
    }
  }

  .stamp {
    position: absolute;
    bottom: -0.5rem;
    right: -0.5rem;

    font-family: serif;
    font-size: 3rem;
    line-height: 1;
    color: var(--stamp);

    transform: rotate(-15deg);
    transform-origin: center center;
    transition: all 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
  }

  .text {
    font-family: sans-serif;
    font-size: 1.125rem;
    font-weight: 900;
    color: white;
    transition: transform 0.3s ease;
  }

  .indicator {
    position: absolute;
    background-color: white;
    transition: transform 0.3s ease;
    z-index: 20;
    left: 0;

    top: 0;
    width: 3px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;

    @media (min-width: consts.$bp-md) {
      bottom: 0;
      width: 100%;
      height: 3px;
      transform: scaleX(0);
      transform-origin: left; // Grow from left to right
    }
  }

  a:hover {
    .stamp {
      color: var(--stamp-h);
      transform: rotate(-5deg) scale(1.1);
    }

    .indicator {
      transform: scaleY(1);

      @media (min-width: consts.$bp-md) {
        transform: scaleX(1);
      }
    }
  }
}
