---
import { Maybe } from 'purify-ts';
interface Props {
  email?: string;
  discord?: string;
}
---
<section class="p-card home-card-contact">
  <h2 class="p-card__heading">Contact</h2>
  <div class="home-card-contact__grid">
    {Maybe.fromNullable(Astro.props.email)
      .map(email => [`mailto:${email}`, email] as const)
      .map(([href, email]) => [
        <img class="home-card-contact__icon" width="38" height="25" src="/static/svg/email.svg" alt="email">,
        <a class="home-card-contact__text" href={href}>{email}</a>
      ]).extract()
    }
    {Maybe.fromNullable(Astro.props.discord)
      .map(discord => [
        <img class="home-card-contact__icon" width="38" height="30" src="/static/svg/discord.svg" alt="discord">,
        <span class="home-card-contact__text">{discord}</span>
      ]).extract()
    }
  </div>
</section>
