---
const notice = {
	header: "Work in Progress...",
	content: [
		"This website is a little bit broken, because I am rewriting the styles!"
	]
};
---
<section class="p-card">
  <h2 class="p-card__header">{notice.header}</h2>
  {notice.content.map(item => (
    <p>{item}</p>
  ))}
</section>
