---
import image from "@assets/home/20221016-170316_1.jpg";
import Image from "astro/components/Image.astro";

const alt = "A building covered by multicolor Ivy.";
---
<section class="p-card home-card-image">
  <h2 class="p-card__heading">Image of the Month</h2>
  <a href={image.src} class="home-card-image__link">
    <Image src={image} alt={alt} class="home-card-image__image" />
  </a>
</section>
