---
import image from "@assets/home/IMG_20231029_111650.jpg";
import { Image } from "astro:assets";


const alt = "Autumn park with colorful trees and fallen leaves";
---
<section class="p-card home-card-image">
  <h2 class="p-card__heading">Image of the Month</h2>
  <a href={image.src} class="home-card-image__link">
    <Image src={image} alt={alt} class="home-card-image__image" />
  </a>
</section>
