---
const image = "/static/iotm/20221016-170316_1.jpg";
const alt = "A building covered by multicolor Ivy.";
---
<section class="p-card p-card-image">
  <h2 class="p-card__header">Image of the Month</h2>
  <a href={image}>
    <img class="p-card-image__image" src={image} alt={alt}>
  </a>
</section>
