.link-tree {
  position: relative;
  max-height: min(100vh, 100%);
  padding: 1em;
  overflow-y: auto;

  &__nav {
    &-list {
      margin: 0;
      padding-left: 0.5em;
      list-style: none;

      ul {
        border-left: 1px solid lightgray;
      }
    }
    &-list-text {
      padding-inline: 0.25em;
      text-decoration: unset;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &.link {
        color: var(--c-primary);
      }

      &:not(.current):hover {
        text-decoration: underline;
      }

      &.current {
        background-color: var(--c-primary);
        border: unset;
        border-radius: 0.33em;
        color: white;
        cursor: pointer;
      }
    }
  }
}

#link-tree-mode {
  &:checked ~ .v-prime {
    display: none;
  }
  &:not(:checked) ~ .v-alt {
    display: none;
  }
}
