---
import Base   from "@layouts/Base.astro";
import Intro  from "@components/cards/Intro.astro";
import Photo  from "@components/cards/Photo.astro";
import Text   from "@assets/markdown/index.md";
---
<Base title="Home">
  <main class="l-home">
    <article class="l-home__article markdown">
      <Text/>
    </article>
    <aside class="l-home__aside">
      <Intro/>
      <Photo/>
    </aside>
  </main>
</Base>
