---
import Base from "@layouts/Base.astro";
import { getCollection } from 'astro:content';


const repos = await getCollection('repos');
---

<Base>
  <main class="l-repos">
    <article class="l-repos__article">
      <h2>Maintained repositories</h2>
      <section class="repos">
        {repos.map(repo => (
          <a href={repo.data.url} class="repo-item">
            <header class="repo-item__header">
              <img class="repo-item__icon" src="/static/svg/github.svg" alt=""/>
              <h3 class="repo-item__heading">{repo.id}</h3>
            </header>
            <div>{repo.data.description}</div>
            <div class="repo-item__tech">
              {repo.data.icons.map(icon => (
                <img class="repo-item__icon" src={`/static/svg/tech/${icon}.svg`}/>
              ))}
            </div>
          </a>
        ))}
      </section>
    </article>
  </main>
</Base>
