---
import type { Maybe } from 'purify-ts';

interface Props {
  title: Maybe<string>;
}

const {
  title,
} = Astro.props;
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content={Astro.generator} />
<title>{title.mapOrDefault(title => `${title} | kamoshi.org`, "kamoshi.org")}</title>

<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="icon" href="/favicon.ico" sizes="any">

