---
interface Props {
  album: {
    title: string;
    cover: string;
    url: string;
  }
}

const { album } = Astro.props;
---
<a class="c-album" href={album.url}>
  <img class="c-album__image" src={album.cover} alt=""/>
  <div class="c-album__title">{album.title}</div>
</a>
