---
import Ruby from "../Ruby.astro";
import { transform } from "../../../utils/songs/parse";

const data = await Astro.slots.render('default');
const lyrics = transform(data, true);
const cols = lyrics.length ? Object.keys(lyrics[0]) : [];

---

<table class="c-lyrics">
  <tr>{cols.map(col => <th>{col}</th>)}</tr>
  {lyrics.map(row =>
    <tr>{cols.map(col =>
      <td>
        {row[col].map(line => <span><Ruby text={line}/></span><br/>)}
      </td>
    )}</tr>
  )}
</table>
