---
import Ruby from "../Ruby.astro";
import { transform } from "./transform";

const html = await Astro.slots.render('default');
const lyrics = transform(html);
const cols = Object.keys(lyrics[0]);

---

<table class="c-lyrics">
  <tr>{cols.map(col => <th>{col}</th>)}</tr>
  {lyrics.map(row =>
    <tr>{cols.map(col =>
      <td>
        {row[col].map(line => <span><Ruby text={line}/></span><br/>)}
      </td>
    )}</tr>
  )}
</table>
