---
import { getCollection } from 'astro:content';

export async function getStaticPaths () {
  return (await getCollection('aoc'))
    .map(entry => entry.slug.slice(0, 4))
    .map(year => ({params: {year}, props: {year}}))
}

const { year } = Astro.props;
const pages = await getCollection('aoc', (entry) => entry.id.startsWith(Astro.params.year!));
---

{pages.map(entry => (
  <div>
    {entry.id}
  </div>
))}