{% extends "layouts/base.jinja" %}
{% block main %}
<main>
  {{ outline }}
  <article class="article">
    <section class="paper">
      <header>
        <h1 id="top">{{ title }}</h1>
      </header>
      <section class="wiki-article__markdown markdown">
        {{ content }}
        <h2>Keys</h2>
        <p>GPG public key</p>
        <a href="/pubkey_ident.asc">{{ pubkey_ident_fingerprint }}</a>
        <p>GPG public key (email)</p>
        <a href="/pubkey_email.asc">{{ pubkey_email_fingerprint }}</a>
      </section>
    </section>
  </article>
</main>
{% endblock %}
