{% extends "layouts/base.jinja" %}

{% block main %}
<main class="l-home">
  <article class="l-home__article markdown">{{ article }}</article>

  <aside class="l-home__aside">
    <section class="p-card intro-jp" lang="ja-JP">{{ intro }}</section>

    <section class="p-card">{{ kanji }}</section>

  </aside>
</main>
{% endblock %}
