{% extends "layouts/base.jinja" %}

{% block main %}
<main>
  <article class="project-list-wrap">
    <h1>Projects</h1>
    <div class="project-list-flex">
      {% for project in projects %}
      <a class="project-list-tile" href="{{ project.link }}"{% if project.external %} target="_blank" rel="noopener noreferrer"{% endif %}>
        <h2>{{ project.title }}</h2>
        <ul class="tech-stack">
          {% for tech in project.tech %}
          <li>
            <img src="/static/svg/tech/{{ tech | lower }}.svg" alt="{{ tech }}">
          </li>
          {% endfor %}
        </ul>
        {% if project.desc %}
        <p>{{ project.desc }}</p>
        {% endif %}
      </a>
      {% endfor %}
    </div>
  </article>
</main>
{% endblock %}
