{% extends "layouts/base.jinja" %}
{% block main %}
<main>
  {{ outline }}
  <article class="article">
    <section class="paper">
      <section class="wiki-article__markdown markdown">
        {{ content }}
      </section>
    </section>
  </article>
  <aside class="tiles">
    <section class="metadata"></section>
  </aside>
</main>
{% endblock %}
