{% extends "layouts/base.jinja" %}

{% block main %}
  <main>{{ content }}</main>
{% endblock %}

{% block footer %}
  {% if not hide_footer %}
    {% include "components/footer.jinja" %}
  {% endif %}
{% endblock %}
