{% extends "layouts/base.jinja" %}
{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}
{% block main %}
<div class="reveal">
  <div class="slides">
    {{ slides }}
  </div>
</div>
{% endblock %}
