{% extends "layouts/base.jinja" %}
{% block main %}
<main>
  <section class="microblog">
    {% for entry in entries %}
    {% include "components/tweet.jinja" %}
    {% endfor %}
  </section>
</main>
{% endblock %}
