{% extends "layouts/base.jinja" %}
{% block main %}
<main class="wiki-main">
  <aside class="outline">
    <section>
      <div>
        {% include "components/wiki_tree.jinja" %}
      </div>
    </section>
  </aside>
  <article class="article">
    <object class="pdf" width="100%" height="100%" data="{{ pdf_path }}"></object>
  </article>
</main>
{% endblock %}
