@use '../consts' as consts;


.l-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;

  @media (min-width: consts.$bp-lg) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  &__aside {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: min(40em, 100%);
    margin-top: 3em;
  
    @media (min-width: consts.$bp-lg) {
      width: 24em;
      margin-top: 0;
      margin-left: 3em;
    }
  }

  &__article {
    max-width: 40em;
  }
}

.intro-jp {
  max-height: 18em;
  min-width: fit-content;
  max-width: 100%;
  overflow-x: auto;
  writing-mode: vertical-rl;


  &__heading {
    font-family: var(--serif);
    font-size: 2.5rem;
  }

  &__text {
    text-indent: 1em;
    line-height: 1.4;
  }
}
