.l-songs-aside {
  padding: 1.5em;

  &__page {
    width: 40em;
    margin: 0 auto;
  }

  @media (min-width: 65em) {
    display: grid;
    column-gap: 1em;
    grid-template-columns: 1fr 20em;
  }
}

.l-songs-circle {
  padding: 1.5em;

  &__article {
    max-width: 48em;
    margin: 0 auto;
  }
}

.l-songs-cat {
  padding: 1.5em;

  &__article {
    max-width: 40em;
    margin: 0 auto;
  }

  &__list {
    display: grid;
    grid-template-columns: 3em 1fr;
  }
}
