.wiki-main {
  display: grid;
  grid-template-columns: 16em auto;

  @media (min-width: 80rem) {
    grid-template-columns: 16em auto 16em;
  }

  .link-tree {
    position: sticky;
    top: 0;
    height: fit-content;
    max-height: 100vh;
  }
}

.wiki-article {
  margin-inline: 1em;

  @media (min-width: 80rem) {
    margin-inline: 2em;
  }
}
