<footer class="footer">
  <div class="left">
    <div class="copyright">© {{ footer.year }} Maciej Jur</div>
    <a href="mailto:maciej@kamoshi.org">maciej@kamoshi.org</a>
  </div>

  <a class="cc" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
    <img alt="Creative Commons License" src="/static/svg/by.svg">
  </a>

  <div class="right">
    <div>Build: <a class="hash" href="{{ footer.repo_link }}">{{ footer.hash_short }}</a></div>
    <div>({{ footer.date }})</div>
  </div>
</footer>
