---
import Base from "../../layouts/Base.astro";
import Header from '../../components/headers/Base.astro';
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  return (await getCollection('songs'))
    .map(song => Object.keys(song.data.album)
      .map(cat => ({ params: {slug: `${cat}/${song.slug}`}, props: {song} })))
    .flat()
}


interface Props {
  song: CollectionEntry<'songs'>;
}

const { song } = Astro.props;
const { Content } = await song.render();
---

<Base>
  <main class="l-songs-song">
    <article class="l-songs-song__page">
      <Header title={song.data.title} />
      <Content />
    </article>
  </main>
</Base>
