---
import Base from "@layouts/Base.astro";
import Grid from "@components/markdown/AlbumGrid.astro";
import Header from "@components/headers/Base.astro";
import { CIRCLES } from "@utils/songs/data";


export async function getStaticPaths() {
  return Object.keys(CIRCLES)
    .map(circle => ({
      params: { circle },
      props: { albums: CIRCLES[circle].albums }
    }))
}

interface Props {
  albums: typeof CIRCLES[string]['albums'];
}

const circle = Astro.params.circle!;
const albums = Astro.props.albums;
const items = Object.keys(albums)
  .map(slug => ({
    title: albums[slug].title,
    cover: albums[slug].cover,
    url: `/songs/${circle}/${slug}/`
  }))
---

<Base>
  <main class="l-songs-circle">
    <article class="l-songs-circle__article">
      <Header title={CIRCLES[circle].name} />
      <Grid albums={items} />
    </article>
  </main>
</Base>
