---
import Base from "@layouts/Base.astro";
import Tree from "@components/tree/Tree.astro";
import { collapse } from "@utils/tree";
import { getCollection } from "astro:content";
import { Maybe } from "purify-ts";

const tree = collapse(await getCollection('wiki'));
---

<Base>
  <main class="wiki-main">
    <Tree heading="Personal Wiki" tree={tree} slug="wiki" prefix={Maybe.of("wiki")} />
    <article class="wiki-article">
      siema
    </article>
  </main>
</Base>
