$two-col: 76rem;
$aside-multi-col: 44rem;

.l-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75em;

  @media (min-width: 40rem) {
    padding: 1.5em;
  }

  @media (min-width: $two-col) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  &__aside {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: min(40em, 100%);
    margin-top: 3em;

    @media (min-width: $aside-multi-col) and (max-width: $two-col) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 100%;

      > * {
        width: 24em;
      }
    }

    @media (min-width: $two-col) {
      width: 24em;
      margin-top: 0;
      margin-left: 1rem;

      > * {
        width: 24em;
      }
    }
  }

  &__article {
    max-width: 50em;
  }
}

.p-card {
  padding: 1em;

  &__heading {
    line-height: 1em;
    margin-bottom: 0.5em;
    font-family: var(--font-heading);
    font-weight: 500;
  }
}

.ascii-art {
  display: flex;
  justify-content: center;
  overflow-x: auto;

  pre {
    display: block;
    font-family: sans-serif;
    font-size: 0.5rem;
    font-weight: bold;
    letter-spacing: -0.05em;
  }
}

.intro-jp {
  height: 18.5rem;
  writing-mode: vertical-rl;

  h2 {
    min-height: max-content;
    font-size: 2.5rem;
    font-family: var(--font-heading);
  }

  p {
    text-indent: 1em;
    line-height: 1.4;
  }
}
