$bp-m: 58rem;
$bp-l: 90rem;

main {
  @media (min-width: $bp-m) {
    display: grid;
    grid-template-areas: ". left page .";
    gap: 1rem;
    grid-template-columns: 1fr 16rem minmax(0, 50rem) 1fr;
  }

  @media (min-width: $bp-l) {
    grid-template-areas: ". left page info . ";
    grid-template-columns: auto 20rem 50rem 16rem auto;
  }
}

.outline {
  display: none;

  @media (min-width: $bp-m) {
    display: unset;
    grid-area: left;
  }
}

.article {
  grid-area: page;

  @media (min-width: $bp-m) {
    max-width: min(100%, 50em);
    height: fit-content;
    margin-block: 1rem;
    margin-inline: auto;
  }

  @media (min-width: $bp-l) {
    margin-block: 2rem;
  }
}

.paper {
  padding: 1rem;
  background-color: white;

  @media (min-width: $bp-m) {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
    font-family: var(--serif);
    font-weight: 500;
  }
}

.bibliography {
  padding: 1rem;
  background-color: white;

  @media (min-width: $bp-m) {
    margin-top: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  header {
    display: flex;
    justify-content: space-between; /* Spreads items apart */
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }

  .icon-btn {
    display: inline-flex;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    line-height: 0;

    &:hover {
      background-color: #f0f0f0;

      img {
        opacity: 1;
      }
    }

    img {
      width: 20px;
      height: 20px;
      display: block;
      opacity: 0.7;
      transition: opacity 0.2s;
    }
  }

  a {
    color: var(--c-primary);
  }

  h2 {
    font-family: var(--serif);
    font-weight: 500;
    font-size: 1.8rem;
  }

  ol {
    margin-left: 1rem;
  }

  li {
    padding-left: 0.7em;

    &::marker {
      content: "[" counter(list-item) "]";
    }
  }

  li + li {
    margin-top: 0.5rem;
  }
}

.backlinks {
  padding: 1rem;
  background-color: white;

  @media (min-width: $bp-m) {
    margin-top: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h3 {
    padding-bottom: 0.5rem;
  }

  ul {
    padding-left: 1rem;
  }
}

.tiles {
  display: none;

  @media (min-width: $bp-l) {
    display: unset;
    grid-area: info;
    margin-block: 2rem;
    margin-inline: unset;
  }
}

.marginnote {
  display: block;
  margin: 1em 1.5em;
  padding-block: 0.5em;
  border-block: 1px dashed gray;
  color: gray;

  @media (min-width: $bp-m) {
    float: right;
    clear: right;
    max-width: 14rem;
    margin-right: 0;
    text-align: justify;
    hyphens: auto;
  }

  @media (min-width: $bp-l) {
    margin: 1em -16rem;
  }

  a {
    color: var(--c-primary);
  }
}

figure {
  @media (min-width: $bp-m) {
    clear: right;
  }

  @media (min-width: $bp-l) {
    clear: unset;
  }
}

.outline {
  height: 100%;

  @media (min-width: $bp-m) {
    margin-block: 0.5rem;
  }

  @media (min-width: $bp-l) {
    margin-block: 1rem;
  }

  section {
    position: sticky;
    top: 0;
    max-height: min(100vh, 100%);
    padding: 0.5em;
    overflow-y: auto;

    @media (min-width: $bp-l) {
      padding: 1em;
    }
  }

  h2 {
    font-family: var(--serif);
    font-weight: 500;

    a {
      text-decoration: none;
      color: var(--c-text);
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-top: 0.25rem;
    gap: 0.4rem;
    list-style: none;

    ul {
      padding-left: 1rem;
    }

    .active {
      font-weight: bold;
      border-left: 3px solid var(--accent-color);
    }
  }

  .outline-depth-2 {
    border-left: 1px solid lightgray;
  }

  .outline-depth-3 {
    border-left: 1px dashed lightgray;
  }

  a {
    text-decoration: none;
    color: var(--text-muted);

    &:hover {
      text-decoration: underline;
    }
  }

  /* h2 {
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, transparent, lightgray, transparent)
      1;
    font-family: var(--serif);
    font-weight: 500;
    font-size: 1.4rem;

    a {
      display: block;
      text-decoration: unset;
      text-align: center;
    }
  }




  a {
    color: var(--c-primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  } */
}

.metadata {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  clear: right;
  gap: 0.25rem;

  h2 {
    font-family: var(--serif);
    font-weight: 500;
  }

  > div {
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
  }

  img {
    display: inline;
    color: gray;
  }

  a {
    color: var(--c-primary);
  }

  .tags {
    display: inline-flex;
    align-items: self-start;
    gap: 0.25rem;

    img {
      display: inline-block;
    }

    ul {
      display: inline-flex;
      list-style: none;
      padding: 0;
      gap: 0.25rem;
      flex-wrap: wrap;
    }

    li a {
      display: inline-block;
      background-color: var(--tag-bg, #eef);
      color: var(--tag-color, #225);
      padding: 0.2rem 0.5rem;
      border-radius: 0.3rem;
      text-decoration: none;
      font-size: 0.9rem;
    }
  }
}
