---
import dayjs from "dayjs";
import Base from "./Base.astro";
import Header from "../components/headers/Article.astro";
import Toc from "../components/Toc.astro";

interface Props {
  headings?: any[],
  frontmatter: {
    title: string;
    date: string;
    tags: string[];
  }
}

const {
  headings,
  frontmatter: {
    title,
    date,
    tags,
}} = Astro.props;
---
<Base>
  <main class="l-article">
    <aside class="l-article__aside">
      <div class="l-article__toc">
        {headings && (<Toc headings={headings} />)}
      </div>
    </aside>
    <article class="l-article__article marker readable">
        <Header title={title} date={dayjs(date)} tags={tags}/>
      <div class="markdown">
        <slot />
      </div>
    </article>
  </main>
</Base>
