---
import ContactCard from "../components/cards/Contact.astro";
import NoticeCard from "../components/cards/Notice.astro";
import PhotoCard from "../components/cards/Photo.astro";
import Base from "./Base.astro";
---
<Base>
	<main class="l-home">
		<article class="l-home__article markdown">
			<slot />
		</article>
		<aside class="l-home__aside">
			<NoticeCard />
			<PhotoCard />
			<ContactCard />
		</aside>
	</main>
</Base>
