---
import Base from "./Base.astro";
import Intro from "@components/cards/Intro.astro";
import Photo from "../components/cards/Photo.astro";

---
<Base title={"Home"}>
  <main class="l-home">
    <article class="l-home__article markdown">
      <slot />
    </article>
    <aside class="l-home__aside">
      <!--  -->
      <Intro />
      <!--  -->
      <Photo />
      <!--  -->
    </aside>
  </main>
</Base>

