---
import Intro from "@components/cards/Intro.astro";
import ContactCard from "../components/cards/Contact.astro";
import PhotoCard from "../components/cards/Photo.astro";
import Base from "./Base.astro";

---
<Base>
  <main class="l-home">
    <article class="l-home__article markdown">
      <slot />
    </article>
    <aside class="l-home__aside">
      <!--  -->
      <Intro />
      <!--  -->
      <PhotoCard />
			<!--  -->
			<ContactCard />
		</aside>
	</main>
</Base>
