---
import Base from "./Base.astro";
import Header from '../components/headers/Base.astro';

interface Props {
  frontmatter: {
    title: string;
  };
}

const {frontmatter: {
  title
}} = Astro.props;
---

<Base>
  <main class="l-lyrics">
    <article class="l-lyrics__page">
      <Header title={title} />
      <section class="markdown">
        <slot/>
      </section>
    </article>
  </main>
</Base>
