---
import Base from "@layouts/Base.astro";
import Tree from "@components/tree/Tree.astro";
import { getCollection } from "astro:content";
import { Maybe, MaybeAsync } from "purify-ts";
import { collapse, type PageTree } from "@utils/tree";
import type { MarkdownHeading } from "astro";


interface Props {
  headings?: MarkdownHeading[];
  frontmatter: {
    title: string;
  };
  slug?: string;
  tree?: PageTree;
}

const { frontmatter, slug } = Astro.props;


function constructTree(tree?: PageTree) {
  return MaybeAsync
    .liftMaybe(Maybe.fromNullable(tree))
    .alt(
      MaybeAsync(async () => await getCollection('wiki'))
        .map(collapse));
}

const headings = Maybe.fromNullable(Astro.props.headings);
const pages = (await constructTree(Astro.props.tree))
  .map(tree => ({
    tree,
    slug: Maybe.fromNullable(slug),
    prefix: Maybe.of("/wiki/")
  }));

---

<Base>
  <main class="wiki-main">
    <!-- Slide in/out for mobile -->
    <input id="wiki-aside-shown" type="checkbox" hidden/>

    <aside class="wiki-aside">
      <!-- Slide button -->
      <label class="wiki-aside__slider" for="wiki-aside-shown">
        <img class="wiki-icon" src="/static/svg/double-arrow.svg" width="24" height="24" />
      </label>
      <!-- Navigation tree -->
      <Tree heading="Personal Wiki" pages={pages} headings={headings} />
    </aside>

    <article class="wiki-article markdown">
      <h1>{frontmatter?.title}</h1>
      <slot />
    </article>
  </main>
</Base>
