@use "consts";

html {
  scroll-behavior: smooth;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--c-bg-main);
  color: var(--c-text);
  font-size: var(--fs-md);
}

main {
  flex: 1 0 auto;

  @media screen and (min-width: consts.$bp-md) {
    --fs-xs: 0.833rem;
    --fs-sm: 1rem;
    --fs-md: 1.2rem;
    --fs-lg: 1.44rem;
    --fs-xl: 1.728rem;
  }
}
