---
import 'reveal.js/dist/reveal.css';
import 'reveal.js/dist/theme/black.css';
import 'reveal.js/plugin/highlight/monokai.css';
import Base from '../../layouts/Base.astro';
import { getCollection } from 'astro:content';
import { render } from '../../assets/reveal-ssr/markdown';


export async function getStaticPaths () {
  return (await getCollection('slides'))
    .map(entry => ({params: {slug: entry.slug}, props: {entry}}));
}

const { entry } = Astro.props;
const slides = render(entry.body);
---

<Base>
  <div class="reveal">
    <div class="slides" set:html={slides}></div>
  </div>
  <script>
    import Reveal from 'reveal.js';
    import Highlight from 'reveal.js/plugin/highlight/highlight';

    Reveal.initialize({
      hash: true,
      plugins: [
        Highlight,
      ]
    });
  </script>

  <style is:global>
    .slides img {
      margin-left: auto;
      margin-right: auto;
      max-height: 60vh;
    }
  </style>

  <span slot="header" style="display: none;"></span>
  <span slot="footer" style="display: none;"></span>
</Base>
