---
import { Maybe } from 'purify-ts';
import type { Nested } from './Headings.astro';


interface Props {
  headings: Maybe<Nested[]>;
}


const { headings } = Astro.props;
---

{headings
  .map(headings => 
    <ul class="link-tree__nav-list">
      {headings.map(heading => 
        <li class="link-tree__nav-list-item">
          <a class="link-tree__nav-list-text link" href={`#${heading.slug}`}>
            {heading.text}
          </a>
          <Astro.self headings={Maybe.fromNullable(heading.children)}/>
        </li>
      )}
    </ul>
  )
  .extract()
}
