---
import { Maybe } from 'purify-ts/Maybe';
import HeadingsList from './HeadingsList.astro';
import type { MarkdownHeading } from 'astro';


interface Props {
  headings: MarkdownHeading[];
}


const { headings } = Astro.props;
---

<h2 class="link-tree__heading">
  <span class="link-tree__heading-text">Content</span>
</h2>
<nav id="table-of-contents" class="link-tree__nav">
  <HeadingsList headings={Maybe.of(headings)} />
</nav>
