---
import PagesList from "./PagesList.astro";
import type { Maybe } from "purify-ts/Maybe";
import type { PagesProps } from "./PagesList.astro";
import { pathify } from "@utils/tree";


interface Props {
  heading: string;
  pages: Maybe<PagesProps>;
}

const { heading, pages } = Astro.props;
---

<h2 class="link-tree__heading">
  {pages.chain(x => x.prefix)
    .map(pathify)
    .mapOrDefault(href =>
      <a class="link-tree__heading-text" href={href}>{heading}</a>,
      <span class="link-tree__heading-text">{heading}</span>
  )}
</h2>
<nav class="link-tree__nav">
  {pages.map(pages => <PagesList {...pages} />).extract()}
</nav>
